<%= div_for comment do %>
  <div class="center comment">
    <p class="italized textlight">
        Posted <%= time_ago_in_words(comment.created_at) %>
      <br />
    </p>
    <p class="textlight">
      <%= h(comment.body) %>
      <br/>------------------------------------
    </p>
</div>
<% end %>
