<div class="topbar center">
  <ul class="mlink">
    <li><%= link_to 'POSTS', posts_path  %></li>
    <li><%= link_to 'COMMENTS', comments_path  %></li>
    <li><%= link_to 'USERS', users_path  %></li>
  </ul>
</div>
